atomicwrites==1.3.0
attrs==18.2.0
autobahn==19.2.1
backcall==0.1.0
bleach==3.1.0
certifi==2018.11.29
cffi==1.12.1
chardet==3.0.4
cycler==0.10.0
decorator==4.3.2
defusedxml==0.5.0
entrypoints==0.3
future==0.17.1
greenlet==0.4.15
gym==0.12.0
idna==2.8
ipykernel==4.10.0
ipython==7.3.0
ipython-genutils==0.2.0
ipywidgets==7.4.2
jedi==0.13.3
Jinja2==2.10
jsonschema==3.0.0
jupyter==1.0.0
jupyter-client==5.2.4
jupyter-console==6.0.0
jupyter-core==4.4.0
kiwisolver==1.0.1
llvmlite==0.25.0
MarkupSafe==1.1.1
matplotlib==3.0.2
mistune==0.8.4
mkl-fft==1.0.10
mkl-random==1.0.2
more-itertools==5.0.0
msgpack==0.5.6
nbconvert==5.4.1
nbformat==4.4.0
neovim==0.2.6
notebook==5.7.4
numba==0.40.0
numpy==1.16.0
olefile==0.46
pandas==0.24.1
pandocfilters==1.4.2
parso==0.3.4
pexpect==4.6.0
pickleshare==0.7.5
Pillow==5.4.1
pluggy==0.9.0
profilehooks==1.10.0
prometheus-client==0.6.0
prompt-toolkit==2.0.9
ptyprocess==0.6.0
py==1.8.0
pycparser==2.19
pyglet==1.3.2
Pygments==2.3.1
pynput==1.4
pyparsing==2.3.1
pyrsistent==0.14.11
pytest==4.3.0
python-dateutil==2.8.0
python-xlib==0.25
pytz==2018.9
pyzmq==18.0.0
qtconsole==4.4.3
-e git+https://git.ias.informatik.tu-darmstadt.de/quanser/clients.git@7619977f3dbeb6dbc21d5e4658eb65bab1b85f7c#egg=quanser_robots
requests==2.21.0
scandir==1.5
scipy==1.2.1
Send2Trash==1.5.0
six==1.12.0
terminado==0.8.1
testpath==0.4.2
torch==1.0.1.post2
tornado==5.1.1
tqdm==4.19.9
traitlets==4.3.2
txaio==18.8.1
urllib3==1.24.1
vpnotebook==0.1.3
vpython==7.4.7
wcwidth==0.1.7
webencodings==0.5.1
widgetsnbextension==3.4.2
